        location ~* [^/]\.php(/|$) {
                fastcgi_pass 127.0.0.1:{{ php_fpm_port }};
                fastcgi_index index.php;
                fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
                include fastcgi_params;
        }

        location / {
                fastcgi_pass 127.0.0.1:{{ php_fpm_port }};
                fastcgi_index index.php;
                fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
                include fastcgi_params;
        }
